
*.ipynb
.idea/workspace.xml
.idea/markdown-navigator.xml
.idea/workspace.xml
_site/tag/supervised-learning.html
_site/tag/LDA.html
_site/tag/Japanese.html
_site/tag/classification.html
_site/statistics/2019/10/03/beyond-lda.html
_site/statistics/2019/10/02/linear-discriminant-analysis.html
_site/statistics/2019/10/02/linear-discriminant-analysis.html
